*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leasePublic/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bbin/
obj/
bin/
ModelFiles/
_UpgradeReport_Files/
_ReSharper*/
*.[Re]Sharper
*.DotSettings.user
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Mm]ax[Rr]esults*/
nunit-*.xml
OpenCover*.xml
.axoCover/*
*.exe
*.dll
*.pdb
*.sitecore
*.密匙
App_Data/*.mdf
App_Data/*.ldf
App_Data/*.sdm
App_Data/*.密匙
*.mdf
*.ldf
*.ndf
*.rdl.data
*.sbdf
*.suo.精简
csx/
*.build.csdef
ecf/
rcf/
.sass-cache/
.eslintcache
.stylelintcache
node_modules/
jspm_packages/
.pnpm-store/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.code-workspace
project.lock.json
project.fragment.lock.json
package-lock.json
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
packages/